<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="nosotros">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Nosotros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bot">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>ChatBot</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
